<ion-view view-title="アカウント設定">
  <ion-content class="padding">
  <ul class="list">
    <a class="item item-icon-left" href="#/tab/manage-account">
      <i class="icon ion-person"></i>
      口座管理
    </a>
    <a class="item item-icon-left" href="#/tab/manage-password">
      <i class="icon ion-locked"></i>
      パスワード管理
    </a>
    <a class="item item-icon-left" href="#/tab/manage-sign">
      <i class="icon ion-paintbrush"></i>
      署名管理
    </a>
    <a class="item item-icon-left" href="#/tab/list-ukepokete">
      <i class="icon ion-archive"></i>
      受-pokete
    </a>
  </ul>
  </ion-content>
</ion-view>
