<ion-view view-title="アカウント設定">
  <ion-content class="padding background">
  <div class="row account-menus">
    <a class="col col-33 item account-menu" ui-sref="tab.manage-account">
      <div class="account-menu-button">
        <i class="icon ion-person"></i>
        <br>
        <span>口座管理</span>
      </div>
    </a>
    <a class="col col-33 item account-menu" ui-sref="tab.manage-sign">
      <div class="account-menu-button">
        <i class="icon ion-paintbrush"></i>
        <br>
        <span>署名管理</span>
      </div>
    </a>
    <a class="col col-33 item account-menu">
      <div class="account-menu-button">
        <i class="icon ion-information-circled"></i>
        <br>
        <span>このアプリについて</span>
      </div>
    </a>
  </div>
  </ion-content>
</ion-view>
