<ion-view view-title="手形受取">
  <ion-content class="background">
    <div class="card received-bill">
      <div class="item-text-wrap">
        <pokete-image pokete="poketes[0]"></pokete-image>
        <img class="processed-stamp" src="img/processed.png" ng-show="show">
      </div>
    </div>
    <div class="item item-input-inset receive-password">
      <label class="item-input-wrapper">
        <input type="password" placeholder="受取パスワードを入力">
      </label>
      <button on-tap="onTap()" class="button button-small">
        受け取る
      </button>
    </div>
  </ion-content>
</ion-view>
