<ion-view view-title="手形一覧">
  <ion-content>
    <div class="text-center">
      <a class="button button-icon icon ion-plus-circled" ui-sref="addpokete"></a>
    </div>
    <div collection-repeat="pokete in poketes" class="padding-bottom">
      <div class="card">
        <div class="item item-text-wrap">
          <pokete-image pokete="pokete"></pokete-image>
          <h1>¥{{pokete.price}}</h1>
          sign+QR
          {{pokete}}
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
