<ion-view view-title="手形作成">
  <ion-content class="background">
    <br />
    <div class="card margin-bottom">
      <div class="item-text-wrap">
        <pokete-image-add pokete="pokete"></pokete-image-add>
      </div>
    </div>
    <div class="item item-input-inset receive-password">
      <label class="item-input-wrapper">
        <input type="text" placeholder="受取パスワードを入力">
      </label>
      <button class="button button-small">
        発行する
      </button>
    </div>
  </ion-content>
</ion-view>
