.text-lg {
  font-size: 1.8em;
}

.text-bold {
  font-weight: bold;
}

.unenergized {
  color: #999;
}

.trend-item {
  padding: 0;
  height: 200px;

  .trend-name {
    font-size: 0.8rem;
  }

  .row {
    padding-left: 5px;
    padding-right: 5px;
  }

  .trend-actions {
    padding: 0;

    .trend-action {
      text-align: center
    }
    .trend-action-icon {
      font-size: 1.5em;
    }
    .trend-action-number {
      font-size: 0.8em;
    }
  }

}
